*{
    margin: 0;
    padding: 0;
    border: 0;
	box-sizing:border-box;
}

body{
    font-size: 12px;
    font-family: '黑体';
    font-family: '微软雅黑';
    background: #fff;
}
html,body{font-size:100px;}
a{text-decoration: none;color:#000}
ul,ol,li{list-style-type:none;}
table {border-collapse: collapse;border-spacing: 0;}
td, th { padding: 0;}
.inner {padding: 0 3%;}
.clear:before,.clear:after{content: '';display: table;}
.clear:after{clear: both;}

.clear{clear:both;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.L{float:left}
.R{float:right}
.c{width:6rem;margin:0 auto}

@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1479433502496'); /* IE9*/
    src: url('../fonts/iconfont.eot?t=1479433502496#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1479433502496') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1479433502496') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1479433502496#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bbgpinzhi:before { content: "\e6b6"; }
.icon-shouhouwuyou:before { content: "\e632"; }
.icon-qq:before { content: "\e606"; }
.icon-guanbi:before { content: "\e621"; }
.icon-dingzhi:before { content: "\e623"; }
.icon-next:before { content: "\e60d"; }
.icon-pre:before { content: "\e60e"; }
.icon-ssuo:before { content: "\e610"; }
.icon-xla:before { content: "\e611"; }
.icon-yishujiamingzuo:before { content: "\e694"; }
.icon-chacha:before { content: "\e60a"; }
.icon-fubiaotizhuangshi:before { content: "\e6ab"; }
.icon-menu:before { content: "\e601"; }
.icon-weibo:before { content: "\e603"; }
.icon-yanshou:before { content: "\e60f"; }
.icon-peizhi:before { content: "\e68d"; }
.icon-jiajushenghuo:before { content: "\e67a"; }
.icon-dianpu:before { content: "\e600"; }
.icon-weixin1:before { content: "\e604"; }
.icon-peishi:before { content: "\e6f2"; }
.icon-qiang:before { content: "\e612"; }
.icon-touzi:before { content: "\e619"; }
.icon-yimaojian:before { content: "\e613"; }





/*公共*/
.short{width:.16rem;height:2px;background:#808080}
.cnt{font-size:.06rem;color:#fff;line-height:1.8em}
.cnt img{max-width:100%}
.btn{
    display:block;
    text-align:center;
}
.btn-border{
    width:.74rem;
    height:.17rem;
    line-height:.17rem;
    border:2px solid #808080;
    color:#808080
}
.btn-success{
    width:.74rem;
    height:.18rem;
    line-height:.18rem;
    background:#fff;
    color:#1a1a1a;
    margin: 0 auto;
}
.section{
    position:relative;
    padding-top:.26rem;
    box-sizing:content-box;
    background-repeat:no-repeat;
    background-size:100%;
    background:#050504;
}
.sectionTil{text-align:center;color:#fff;margin-bottom:.26rem}
.sm_mar{margin-bottom:.13rem}
.sectionTil p{font-size:.14rem;text-transform:uppercase;font-family:Arial}
.sectionTil h3{font-size:.14rem;font-weight:100}
.line{width:.44rem;height:2px;background:#fff;margin:.06rem auto}
.sectionTil>span{display:block;font-size:12px;}
.section_link{
    position:absolute;
    z-index:-1;
    top:-.89rem;
    width:100%;
    height:1px;
}
.page{
    margin-top:.32rem;
    text-align:center;
    font-size:.06rem;
}
.page>a{
    display:inline-block;
    vertical-align:middle;
    width:.17rem;
    height:.17rem;
    line-height:.17rem;
    text-align:center;
    border:1px solid #545454;
    color:#545454;
    border-radius:5px;
    margin:0 .03rem;
}
.page>a:hover,.page a.active{
    background:#545454;
    color:#fff
}
.page .btn{display:none}

/*头部*/
.header{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    width:100%;
    font-size:.06rem;
}
.header_t{
    text-align:center;
    height:.57rem;
    background:#000;
    line-height:.57rem;
}
.header_t .c{position:relative}
.logo{
    display:inline-block;
    width:1.6rem;
    height:.25rem;
    background:url("../images/logo.png") no-repeat center;
    background-size:100%;
    vertical-align:middle;
}
.header_t .header_t_text{
    display:inline-block;
    font-size:.16rem;
    color:#545454;
    vertical-align:middle;
}
.header_menu{
    display:none;
    position:absolute;
    right:0;
    top:0;
    color:#fff;
    font-size:.6rem;
}
.header_b{
    position:absolute;
    width:100%;
    height:.57rem;
    background:#333;
    top:0;
    left:0;
    box-shadow:0 2px 5px #1a1a1a;
    -webkit-box-shadow:0 2px 4px #1a1a1a;
    transition:all .4s;
    -webkit-transition:all .4s;
    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -o-transform:translateY(-100%);
}
.noanim .header_b{
    transform:translateY(-100%);
    -webkit-transform:none;
    -ms-transform:none;
    -moz-transform:none;
    -o-transform:none;
}
.navLogo{
    display:block;
    width:1.6rem;
    height:100%;
    background:url("../images/navLogo.png") no-repeat left center;
    background-size:100%;
}
.nav{
    width:3.52rem;
    height:100%;
    line-height:.57rem;
    margin-left:.4rem;
}
.nav_item{
    position:relative;
    float:left;
    width:.47rem;
    height:100%;
}
.nav_item:first-child{display:none}
.nav_item+.nav_item+.nav_item{
    margin-left:.11rem;
}
/*.nav_item+.nav_item+.nav_item:before{*/
    /*content:"";*/
    /*position:absolute;*/
    /*display:block;*/
    /*width:2px;*/
    /*height:.09rem;*/
    /*background:#666;*/
    /*left:0;*/
    /*top:.05rem*/
/*}*/
.nav_item .nav_name{
    position:relative;
    display:block;
    width:100%;
    height:100%;
    text-align:center;
}
.nav_name>a{
    transition:color .3s;
    -webkit-transition:color .3s;
}
.nav_name>a .iconfont{
    display:none;
    font-size:.24rem;
    float:right;
}
.nav_name>a,.nav_cover{
    display:block;
    width:100%;
    height:100%;
    color:#fff;
}
.nav_cover{
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:2
}
.nav_item .dropdown{
    display:none;
    position:absolute;
    width:100%;
    top:.57rem;
    left:0;
    background:rgba(51,51,51,.8);
    padding:0 5px;
    overflow:hidden;
}
.nav_item .dropdown>a{
    display:block;
    width:100%;
    height:.27rem;
    line-height:.27rem;
    color:#b6b6b6;
    font-size:.06rem;
    border-bottom:1px solid #292928;
    text-align:center;
}
.nav_item:hover .nav_name>a{color:#666}
.nav_item:hover .dropdown{
    display:block;
}
.nav_item .dropdown>a:hover{color:#fff}
.header.active .header_t{
    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -o-transform:translateY(-100%);
    transition:all .4s;
    -webkit-transition:all .4s;
}
.header.active .header_b{
    transform:translateY(0);
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    -moz-transform:translateY(0);
    -o-transform:translateY(0);
}
.header.active.noanim .header_t{
    transform:none;
    -webkit-transform:none;
    -ms-transform:none;
    -moz-transform:none;
    -o-transform:none;
}
.header.activ.noanim .header_b{
    transform:none;
    -webkit-transform:none;
    -ms-transform:none;
    -moz-transform:none;
    -o-transform:none;
}


/*首页banner*/
.banner{
    position:relative;
    width:100%;
    height:2.78rem;
    overflow:hidden;
    margin:0 auto;
    margin-top:.57rem;
}
.ibanner{
    position:relative;
    width:100%;
    height:2.18rem;
    overflow:hidden;
    margin:0 auto;
    margin-top:.57rem;
    font-size:.16rem;
    color:#fff
}
.btil{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    position:absolute;
    width:3.26rem;
    height:100%;
    left:50%;
    margin-left:-1.63rem;
    top:0;
}
.btil h3{
    position:relative;
    font-weight:100;
    font-size:.16rem;
    margin-bottom:.02rem;
}
.btil p{
    position:relative;
    font-family:Arial;
    font-size:.22rem;
    text-transform:uppercase;
}
.btil_text:before{
    content:"";
    display:block;
    position:absolute;
    width:.43rem;
    height:2px;
    background:#fff;
    left:0;
}
.btil h3:before{top:-.16rem}
.btil p:before{bottom:-.13rem}
.banner>img,.ibanner img{width:100%;display:block;}
.bannerImg{width:100%;height:100%}
.bannerImg ul{height:2.78rem}
.bannerImg li{
    float:left;
    height:100%;
}
.bannerImg li img{display:block;width:100%;height:100%;}
.bannerNav{
    position:absolute;
    width:100%;
    height:.06rem;
    bottom:.09rem;
    left:0;
    z-index:99;
    text-align:center;
    font-size:0;
}
.bannerNav li{
    font-size:0;
    display:inline-block;
    width:.06rem;
    height:.06rem;
    background:#fff;
    border-radius:50%;
    margin:0 .02rem;
}
.bannerNav li.on{background:#ed6d00}

/*品阅如晶*/
.introduct{
    position:relative;
    width:100%;
    height:2.86rem;
    background:url("../images/a1.jpg") no-repeat center;
    background-size:cover;
    padding:.45rem 0;
    font-size:.06rem;
}
.intro_box{
    position:absolute;
    width:53%;
    height:1.96rem;
    background:#535353;
    padding:.13rem 18% .17rem 5%;
    top:.45rem;
    right:0;
}
.intro_til{margin-bottom:.13rem;color:#fff}
.intro_til p{font-size:.14rem;font-family:Arial;text-transform:uppercase;margin-bottom:.04rem}
.intro_til h3{font-size:.13rem;font-weight:100;margin-bottom:.08rem}
.intro_cnt{line-height:2em;margin-bottom:.1rem;height:.5rem;overflow:hidden;position:relative}

/*pdc*/
.pdcbg{
    background-image:url("../images/pbg.png");
    background-position:bottom center;
    background-color:#050504;
    padding-bottom: .44rem;
    background-repeat:no-repeat;
}
.p_list{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-flow: row wrap;
}
.p_item{
    position:relative;
    width:19.5%;
    padding-bottom:27%;
    overflow:hidden;
    font-size:.08rem;
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
}
.p_item img{
    position:absolute;
    display:block;
    width:100%;
    min-height: 100%;
    top:0;
    left:0;
    z-index:1
}
.p_item .p_cover{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column nowrap;
    position:absolute;
    z-index:2;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    color:#fff;
    background:rgba(79,65,53,.5);
    transition:all .3s;
    -webkit-transition:all .3s;
    opacity:0;
    filter:alpha(opacity=0);
    transform:scale(.8) translateY(100%);
    -ms-transform:scale(.8) translateY(100%);
    -webkit-transform:scale(.8) translateY(100%);
    -moz-transform:scale(.8) translateY(100%);
    -o-transform:scale(.8) translateY(100%);
}
.p_cover h3{font-weight:100;margin-bottom:8px}
.p_cover p{font-family:Arial;text-transform:uppercase;font-size:12px}
.p_cover .short{margin:0 auto;margin-top:.08rem;background:#fff;width:.08rem}
.p_item:hover .p_cover{
    opacity:1;
    filter:alpha(opacity=100);
    transform:scale(1) translateY(0);
    -ms-transform:scale(1) translateY(0);
    -webkit-transform:scale(1) translateY(0);
    -moz-transform:scale(1) translateY(0);
    -o-transform:scale(1) translateY(0);
}

/*案例*/
.casebg{
    background-image:url("../images/casebg.png");
    background-position:top center;
    background-color:#050504;
}
.c_list{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow:row wrap;
    font-size:.08rem;
}
.c_item{
    position:relative;
    width:25%;
    padding-bottom:25%;
    overflow:hidden;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.c_item .c_cover{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column wrap;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    color:#fff;
    transition:opacity,background-color .4s ease-in-out;
    -webkit-transition:opacity,background-color .4s ease-in-out;
}
.c_item .c_cover.white{background:#fff!important;;color:#222;opacity:1!important;}
.c_list .c_item+.c_item+.c_item+.c_item+.c_item+.c_item{width:50%}
.c_list .c_item+.c_item+.c_item+.c_item+.c_item+.c_item+.c_item{width:25%}
.c_list .c_item:nth-child(even) .c_cover{background-color:rgba(83,83,83,1);}
.c_list .c_item:nth-child(odd) .c_cover{background-color:rgba(83,83,83,0);opacity:0}
.c_list .c_item:nth-child(5) .c_cover{background-color:rgba(83,83,83,1);opacity:1}
.c_list .c_item:nth-child(6) .c_cover{background-color:rgba(83,83,83,0);opacity:0}
.c_list .c_item:hover .c_cover{
    background-color:rgba(83,83,83,.5);
    opacity:1
}

/*新闻*/
.newbg{background:#050504;font-size:.08rem;padding-bottom:.44rem}
.newbg .sectionTil{margin-bottom: .15rem}
.nNav{text-align:center;margin-bottom:.26rem}
.nNav>a{
    display:inline-block;
    width:.68rem;
    height:.17rem;
    line-height:.17rem;
    text-align:center;
    border:1px solid #545454;
    color:#545454;
    margin:0 .03rem;
}
.nNav>a.on{background:#545454;color:#fff}
.n_list{width:5.56rem;margin:0 auto}
.n_list_item{display:none}
.n_list_item:first-child{display:block}
.n_list_item li{
    position:relative;
    height:.88rem;
    overflow:hidden;
    margin-bottom:2px;
    background-color:#545454;
}
.n_list_item li a{
    width:100%;
    height:100%;
    display:flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-flow:row nowrap;
    color:#fff;
}
.n_list_time{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column nowrap;
    width:.47rem;
    height:.88rem;
    text-align:center;
    font-size:12px;
    font-family:Arial;
}
.n_list_time h3{font-weight:100;font-size:.21rem;margin:.1rem 0}
.n_list_img{width:2.12rem;height:100%;position:relative;overflow:hidden}
.n_list_img img{
    display:block;
    width:100%;
    transition:all .3s;
    -webkit-transition:all .3s;
}
.n_list_info{
    width:2.96rem;
    height:.88rem;
    padding:.17rem .26rem .15rem .1rem;
}
.n_list_info h3{font-size:.08rem;margin-bottom:.06rem;font-weight:100}
.n_list_info p{font-size:.06rem;color:#b2b2b2;line-height:1.8em}
.n_list_item li:hover img{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.n_list .btn-success{margin-top:.2rem}

/*adv*/
.adv{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-flow:row nowrap;
    width:100%;
    padding:.36rem 0;
    background:#535353;
    text-align:center;
    font-size:.08rem;
    color:#fff
}
.adv_item{
    width:.44rem;
    margin:0 .25rem;
}
.adv_item_icon{
    width:.44rem;
    height:.44rem;
    line-height:.44rem;
    border:1px solid #fff;
    border-radius:50%;
    margin:0 auto;
    margin-bottom:.11rem;
    font-size:.16rem;
}
/*footer*/
.footer{
    background:#050505;
    padding:.39rem 0 .44rem 0;
    font-size:.08rem;
}
.f_cnt{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-flow:row nowrap;
    width:4.2rem;
    margin:0 auto;
}
.f_logo{
    width:.78rem;
    height:.47rem;
    background:url("../images/flogo.png") no-repeat center;
    background-size:100%;
}
.f_contact{
    position:relative;
    text-align:center;
    width:1.24rem;
    color:#666;
    line-height:2.2em;
    font-size:12px;
}
.f_contact:before,.f_contact:after{
    content:"";
    position:absolute;
    display:block;
    width:1px;
    height:100%;
    background:#151514;
    top:0
}
.f_contact:before{left:-.41rem}
.f_contact:after{right:-.41rem}
.f_icon{
    margin-bottom:.22rem;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.f_icon .iconfont{
    font-size:.2rem;
    color:#151514;
    align-items:baseline;
    transition:all .3s;
}
.f_icon .iconfont:hover{color:#fff}
.f_contact p a{font-family:Arial;font-size:.08rem;color:#fff}
.f_nav h3{font-size:14px;color:#fff;margin-bottom:.15rem}
.f_nav li{margin-bottom:.08rem}
.f_nav li a{
    font-size:12px;
    color:#666
}
.bottom{
    text-align:center;
    background:#141414;
    color:#333;
    font-size:12px;
    min-height:.33rem;
    line-height:.33rem;
    padding:0 5%;
}
/*内页*/
.brand{
    width:4.88rem;
    margin:0 auto;
    margin-bottom:.28rem;
    text-align:center;
    color:#666;
    font-size:.06rem;
    line-height:2.2em;
}
.brandItem{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    flex-flow: row nowrap;
    border-bottom:2px solid #000;
    background:#535353;
}
.brandItem+.brandItem{
    -webkit-box-pack: flex-end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.brandItem+.brandItem+.brandItem{
    -webkit-box-pack: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.brandItem>div{
    position:relative;
    padding-bottom:28%;
    overflow:hidden;
}
.brand_img{width:50%;}
.brand_img img{
    position:absolute;
    display:block;
    width:100%;
    top:0;
    left:0;
}
.brand_text{width:38.5%;}
.brand_text .cnt{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding:.22rem .13rem;
}
.brand_text h3{font-size:26px;margin-bottom:.11rem}
.brand_text p{color:#b2b2b2;line-height:2.2em}
.team{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    flex-flow:row nowrap;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.team>div{height:1.54rem;background:#535353}
.team_img{width:2.34rem}
.team_img img{
    display:block;
    width:100%;
    height:100%;
}
.team_text{
    width:3.16rem;
    padding:0 .24rem;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column wrap;
    color:#b2b2b2;
    line-height:2em;
}
.powerList{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-flow:row wrap;
    font-size:.07rem;
    color:#fff
}
.power_item{
    position:relative;
    width:24.7%;
    height:1.72rem;
    overflow:hidden;
}
.power_item img{display:inline-block;width:101%;margin-left:-2px}
.power_cover{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column nowrap;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
}
.power_num{font-size:.26rem;font-family:Arial}
.honor{
    padding-bottom:.37rem;
    background-image:url("../images/honorbg.png");
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:100%;
}
.honorList{
    height:2.55rem;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow:row wrap;
    align-content:space-between;
    width:4.66rem;
    margin:0 auto;
}
.honor_item{
    width:1.4rem;
    height:.93rem;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    flex-flow:row nowrap;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.honor_item img{
    max-width:100%;
    max-height:100%;
}
/*产品内页*/
.product{font-size:.11rem;margin-top:.57rem}
.product_item{
    position:relative;
    background:#545454;
}
.product_item>a{
    width:100%;
    height:100%;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    flex-flow:row nowrap;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.product_item a>div{
    position:relative;
    width:50%;
    padding-bottom:43%;
}
.product_fm img{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.product_cover{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column nowrap;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    color:#545454;
    font-size:.11rem;
    transition:background-color .3s;
    -webkit-transition:background-color .3s;
}
.product_cover p{
    color:#545454;
    transition:color .3s;
    -webkit-transition:color .3s;
}
.product_cover .iconfont{
    font-size:.35rem;
    color:#545454;
    transition:color .3s;
    -webkit-transition:color .3s;
}
.product_intro_cnt{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column nowrap;
    color:#fff;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    padding:0 .37rem;
}
.product_intro_cnt h3{font-size:.15rem;font-weight:100}
.product_intro_cnt .line{width:.22rem}
.product_intro_cnt .cnt p{color:#b2b2b2}
.product_item:hover .product_cover{background: rgba(0,0,0,.6)}
.product_item:hover p,.product_item:hover .iconfont{color:#fff}

/*产品列表*/
.product_list{
    width:77%;
    margin:0 auto;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow:row wrap;
    margin-top:.22rem;
    font-size:.06rem;
}
.product_list+.btn-success{margin-top:.26rem;font-size:.08rem}
.pdc_item{
    position:relative;
    width:49%;
    padding-bottom:55%;
    margin-bottom:.11rem;
    overflow:hidden;
}
.pdc_item img{
    display:block;
    position:absolute;
    width:100%;
    top:0;
    left:0;
}
.pdc_info{
    position:absolute;
    background:#545454;
    width:100%;
    height:37%;
    padding:0 .05rem;
    bottom:0;
    left:0;
    transition:transform .3s;
    -webkit-transition:transform .3s;
    transform:translateY(56%);
    -webkit-transform:translateY(56%);
}
.pdc_name{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    font-size:.08rem;
    color:#fff;
    height:44%;
    overflow:hidden;
}
.pdc_info .cnt{
    position:relative;
    height:24%;
    margin-bottom:.08rem;
    overflow:hidden;
}
.pdc_info .cnt p{color:#b2b2b2}
.pdc_info .btn-border:hover{
    /*border:2px solid #fff;*/
    color:#fff;
    transition:color .3s;
    -webkit-transition:color .3s;
}
.pdc_item:hover .pdc_info{
    transform:translateY(0);
    -webkit-transform:translateY(0);
}
/*产品详情*/
.pd_t{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */;
    flex-flow:row nowrap;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size:.06rem;
    margin:.22rem auto .154rem auto;
}
.pd_img{
    position:relative;
    width:2.71rem;
    height:2.14rem;
    overflow:hidden;
}
.pd_img img{display:block;width:100%;height:100%}
.pd_text{
    position:relative;
    width:2.35rem;
    height:2.14rem;
    padding:0 .22rem;
    overflow:hidden;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-flow:column nowrap;
    color:#fff;
    text-align:center;
}
.pd_text h3{font-size:.1rem;font-weight:100}
.pd_text .line{margin-bottom:.22rem}
.pd_text .cnt p{color:#545454;line-height:2.2em}
.pd_b{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin:0 auto;
    margin-bottom:.26rem;
}
.pd_b .cnt{width:5.06rem}
.prne{
    width:5.06rem;
    margin:0 auto;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size:.07rem;
    margin-bottom:.44rem;
}
.prne>a{
    width:1.54rem;
    height:.26rem;
    line-height:.26rem;
    border:1px solid #545454;
    color:#545454;
    transition:background-color .3s;
    -webkit-transition:background-color .3s;
}
.prne>a:hover{
    background:#545454;
    color:#fff
}
.navTwoWrap{position:relative;overflow:hidden;    margin:.13rem auto;}
.navTwo{
    position:relative;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    font-size:.08rem;
}
.navTwo>a{
    position:relative;
    margin:0 .34rem;
    line-height:.264rem;
    color:#545454
}
.navTwo>a i{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    background:#fff;
    left:0;
    bottom:0;
    transition:width .3s;
    -webkit-transition:width .3s;
}
.navTwo>a:hover{color:#fff}
.navTwo>a:hover i{width:100%}
.navTwo>a.on{color:#fff}
.navTwo>a.on i{width:100%}

/*案例列表*/
.case_info{
    position:absolute;
    width:100%;
    height:30%;
    background:#545454;
    bottom:0;
    left:0;
}
.case_name{
    height:61%;
    padding:0 2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:#fff;
    border-bottom:1px solid #707070;
    font-size:.08rem;
}
.case_own{
    height:39%;
    padding:0 2%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:#b2b2b2
}
/*弹出框*/
.layout{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    font-size:.06rem;
    z-index:9999999
}
.layoutbg{
    position:absolute;
    width:100%;
    height:100%;
    background:#000;
    opacity:.9;
    z-index:-1
}
.layoutBox{
    position:absolute;
    width:77%;
    padding-bottom:42%;
    left:50%;
    margin-left:-38%;
    background:#545454;
    top:18%;
}
.layoutBox_cnt{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.layout_img{
    position:relative;
    height:61%;
    overflow:hidden;
}
.layout_img img{display:block;max-width:100%;max-height:100%;margin:0 auto}
.layout_text_name{
    width:90%;
    height:16%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
    color:#fff;
    text-align:center;
    border-bottom:1px solid #666;
}
.layout_text_name h3{font-size:.11rem;font-weight:100;margin-bottom:5px}
.layout_text_name p{font-size:.07rem}
.layout_text_info{
    width:70%;
    height:23%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:#b2b2b2;
    text-align:center;
    margin:0 auto;
}
.layout_close{
    position:absolute;
    color:#fff;
    left:102%;
    top:0;
    font-size:.2rem;
    cursor:pointer;
}

/*招商加盟*/
.join_tab{
    display:flex;
    flex-flow:row nowrap;
    font-size:.08rem;
    color:#b2b2b2;
    margin-bottom:.22rem;
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.join_tab_item{
    width:1.2rem;
    height:.54rem;
    line-height:.54rem;
    text-align:center;
    margin:0 .06rem;
    border-bottom:2px solid #535353;
    background-color:#535353;
    transition:color .3s;
    -webkit-transition:color .3s;
    cursor:pointer;
}
.join_tab_item .iconfont{font-size:.2rem;vertical-align:middle;margin-right:.26rem}
.join_tab_item.active{
    color:#fff;
    border-bottom:2px solid #fff;
}
.tabCon>div{display:none}
.tabCon>div:first-child{display:block}
.join_tabCon{margin-bottom:.22rem}
.join_tabCon_item{
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    font-size:.08rem;
}
.join_tabCon_text{
    position:relative;
    width:2.8rem;
    height:1.76rem;
    padding:.22rem .26rem .22rem .22rem;
    background:#535353;
    color:#fff;
    z-index:2
}
.join_tabCon_text:before{
    content:"";
    position:absolute;
    display:inline-block;
    width:0;
    height:0;
    border:.08rem solid transparent;
    border-left-color:#535353;
    right:-.15rem;
    top:50%
}
.join_tabCon_text h3{font-size:.11rem;margin-bottom:.11rem;font-weight:100}
.join_tabCon_text p{font-size:.06rem;color:#b2b2b2}
.join_tabCon_img{
    position:relative;
    width:2.8rem;
    height:1.76rem;
    overflow:hidden;
}
.join_tabCon_img img{
    display:block;
    width:100%;
}
.jbg{
    background-image:url("../images/jbg.jpg");
    background-position:center;
}
.supportList{
    width:77%;
    margin:0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    font-size:.08rem;
    padding-bottom:.22rem;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.support_item{
    position:relative;
    width:1.4rem;
    padding-bottom:14%;
    background:#808080;
    margin:.06rem .08rem;
    cursor:pointer;
    transition:background-color .3s;
    -webkit-transition:background-color .3s;
}
.support_item .support_item_cover{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.support_item:hover{
    background:#b3b3b3;
}
.layoutBBox{
    position:absolute;
    width:78%;
    min-height:.84rem;
    top:30%;
    left:50%;
    margin-left:-39%;
    display:flex;
    flex-flow:row nowrap;
}
.bbox_name{
    width:25%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:.11rem;
    color:#1a1a1a;
    text-align:center;
    background:#999;
}
.bbox_text{
    width:75%;
    background:#535353;
    padding:0 3%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.bbox_text p{color:#b2b2b2}

.advtange{margin-bottom:.44rem}
.advtWrap{position:relative;overflow:hidden}
.advtList{
    position:relative;
    width:5rem;
    margin:0 auto;
    margin-bottom:.28rem;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    font-size:.08rem;
    transition:margin-left .3s;
    -webkit-transition:margin-left .3s;
}
.advtList:before{
    content:"";
    position:absolute;
    width:100%;
    height:1px;
    background:#545454;
    bottom:.01rem;
    left:0;
}
.advt_item{
    position:relative;
    padding-bottom:.11rem;
    color:#545454;
    cursor:pointer;
    margin:1px 0;
}
.advt_item:before{
    content:"●";
    position:absolute;
    width:100%;
    display:block;
    bottom:-.05rem;
    text-align:center;
    font-size:.1rem;
}
.advt_item.active{color:#fff;}
.advt_cnt{
    width:4.44rem;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background:#545454;
    padding:2% .36rem;
    font-size:.06rem;
    color:#b2b2b2
}

.stepbg{
    background-image:url("../images/stepbg.jpg");
    background-position:bottom center;
    background-repeat:no-repeat;
}
.stepList{
    width:4.44rem;
    margin:0 auto;
    padding-top:.23rem;
    margin-top:.26rem;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.step_item{
    position:relative;
    width:19.2%;
    padding-bottom:19.2%;
    border-radius:50%;
    overflow:hidden;
    margin:0 .12rem .15rem .12rem;
    font-size:.08rem;
    cursor:pointer;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
}
.step_item>div{
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    top:0;
    left:0;
    transform-origin:50% 50%;
    border-radius:50%;
    overflow:hidden;
    backface-visibility:hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition:transform .5s;
    -webkit-transition:transform .5s;
}
.step_item_foward{
    background:#808080;
    z-index:2;
    transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    -o-transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
}
.step_num{
    font-size:.4rem;
    font-family:Arial;
    color:#727272
}
.step_item_cover{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:.08rem;
    color:#333
}
.step_item_cover p{background:#808080}
.step_item_back{
    background:#b3b3b3;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:.06rem;
    color:#1a1a1a;
    line-height:2em;
    padding:0 10%;
    z-index:-1;
    transform:rotateY(-180deg);
    -ms-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    -o-transform:rotateY(-180deg);
    -webkit-transform:rotateY(-180deg);
}
.step_item:hover .step_item_back{
    transform:rotateY(0);
    -ms-transform:rotateY(0);
    -moz-transform:rotateY(0);
    -o-transform:rotateY(0);
    -webkit-transform:rotateY(0);
    z-index:2
}
.step_item:hover .step_item_foward{
    transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    z-index:1;
}


.showList{width:77%;margin:0 auto;position:relative;height:2.3rem;margin-top:.17rem;margin-bottom:.44rem}
.show_item{
    position:relative;
    height:2.3rem;
    overflow:hidden;
}
.show_item img{display:block;width:100%;min-height:100%}
.show_text{
    position:absolute;
    width:2.33rem;
    background:rgba(0,0,0,.6);
    padding:.08rem .5rem;
    font-size:.08rem;
    bottom:.27rem;
    right:0;
}
.show_text h3{font-weight:100;}
.show_text p{font-size:.06rem}
.showList>.iconfont{
    position:absolute;
    top:45%;
    color:#fff;
    font-size:.2rem;
}
.showList .icon-pre{left:-8%}
.showList .icon-next{right:-8%}

/*新闻内页*/
.news_main{width:88%;margin:0 auto;margin-bottom:.3rem}
.nDetail{background:#545454;padding:.22rem 0 .37rem 0;margin:0 auto}
.mainpage{width:4.5rem;margin:0 auto}
.mainpage_til{padding-bottom:.08rem;margin-bottom:.08rem;border-bottom:1px solid #616161;text-align:center}
.mainpage_til h3{font-size:.1rem;color:#fff;font-weight:100;margin-bottom:.06rem}
.mainpage_til p{font-size:.06rem;color:#999}
.mainpage .cnt{color:#b2b2b2}
.mainpage .prne{margin-bottom:0;margin-top:.15rem;width:100%}
.mainpage .prne a{color:#b2b2b2;border-color:#b2b2b2}
.mainpage .prne a:hover{background:#b3b3b3;color:#666}


/*联系我们*/
.mapList{width:4.44rem;margin:0 auto;margin-bottom:.22rem;margin-top:.17rem}
.map_item{
    position:relative;
    margin-bottom:2px;
    display:flex;
    flex-flow:row nowrap;
    height: 1.5rem;
    overflow:hidden;
}
.map_info{
    width:1.38rem;
    height:1.5rem;
    font-size:.06rem;
    color:#fff
}
.map_name{
    height:.48rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    background-color:#545454;
    font-size:.08rem;
}
.map_cnt{
    position:relative;
    height:1.02rem;
    background:#b3b3b3;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:.06rem;
    color:#545454;
    padding:0 .13rem;
}
.map_map{
    width:3.06rem;
    height:1.5rem;
}
.map_map>div{width:100%;height:100%}

.jus{
    background-image:url("../images/joinbg.jpg");
    background-position:bottom center;
    background-repeat:no-repeat;
    padding-bottom:.22rem;
}
.jus .advtList{
    margin-bottom:.46rem;
    -webkit-box-pack: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.job_name{
    font-size:.07rem;
    color:#fff;
    font-weight:100;
    padding-bottom:.04rem;
    margin-bottom:.13rem;
    border-bottom:1px solid #666;
}
.jus .advt_cnt{width:2.68rem}
.shops{
    padding-bottom:.33rem;
    border-bottom:1px solid #1a1a1a;
}
.shopList{
    position:relative;
    width:4.88rem;
    margin:0 auto;
    overflow:hidden;
}
.shopWrap{
    display:flex;
    flex-flow:row nowrap;
    -webkit-box-pack: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.shop_item{
    position:relative;
    width:2.41rem;
    height:2.3rem;
    overflow:hidden;
    font-size:.08rem;
    cursor:pointer;
    margin-right:.06rem;
}
.shop_item img{
    display:block;
    width:100%;
    min-height:100%;
    transition:all .5s;
    -webkit-transition:all .5s;
}
.shop_info{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    position:absolute;
    width:100%;
    min-height:.6rem;
    overflow:hidden;
    padding:.08rem .22rem;
    bottom:0;
    left:0;
    background:rgba(86,86,86,.8);
    color:#fff
}
.shop_info h3{font-weight:100;margin-bottom:.06rem}
.shop_item:hover img{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.shopNav{
    margin-top:.19rem;
    text-align:center;
    font-size:.08rem;
}
.shopNav span{
    display:inline-block;
    width:.08rem;
    height:.08rem;
    border:1px solid #4d4d4d;
    border-radius:50%;
    cursor:pointer;
    margin:0 .05rem;
}
.shopNav span.on{background:#4d4d4d}
.flex{
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.flex_jcontent{
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex_jcontent_bet{
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex_dir_clo{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
